Source: gnome-shell-extension-cosmic-dock
Section: gnome
Priority: optional
Maintainer: System76 <info@system76.com>
Build-Depends: debhelper (>= 10),
               dh-translations,
               libglib2.0-bin,
               sassc,
Standards-Version: 4.1.1
Vcs-Git: https://github.com/pop-os/gnome-shell-extension-cosmic-dock.git
Vcs-Browser: https://github.com/pop-os/gnome-shell-extension-cosmic-dock
Homepage: https://github.com/pop-os/gnome-shell-extension-cosmic-dock

Package: gnome-shell-extension-cosmic-dock
Architecture: all
Depends: gnome-shell (<< 41),
         gnome-shell (>= 40),
         ${misc:Depends},
         ${shlibs:Depends}
Replaces: gnome-shell-extension-dashtodock,
          gnome-shell-extension-ubuntu-dock,
Breaks: gnome-shell-extension-dashtodock,
        gnome-shell-extension-ubuntu-dock,
Description: Cosmic Dock for GNOME Shell
 A dock for the Gnome Shell, default Pop!_OS experience.
 .
 This extension is a modified version of Dash To Dock with different defaults.
 Dash To Dock can be installed to replace it and give more (but unsupported)
 configuration options.
